{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "semi": ["error", "never"],
    "no-unexpected-multiline": ["error"],
    "no-console": ["warn"]
  },
  "parserOptions": {
    "emcaVersion": "6",
    "sourceType": "module"
  }
}
